*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    font-family: 'Playfair Display', serif;
    user-select: none;
}

/* Home page */

#home{
    background-image: url("../images/lap.avif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
/* position: fixed;
	top: 0;
	width: 100%;
	background-color: #000;
	z-index: 1; */
 .navbar{
	background-color: #000;
} 

.navbar-content{
    position: fixed;
    top: 0%;
    width: 100vw;
    z-index: 2;
    background-color: #0000;
}

.nav-link:hover{
    color: #ffff;
}

#text1,
#text2 {
    position: absolute;
    left: 10%;
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    color: #FFD43B;
    user-select: none;
}

#cont{
    width: 80%;
    position: absolute;
    top: 30%;
}

.home-tag{
    font-size: xx-large;
}

.home-abt{
    color: #FFD43B;
}

.home-am{
    position: absolute;
    left: 1%;
}
 
.row-home{
    height: 100vh;
}

@media screen and (width<=600px){
    #text1,
    #text2{
        font-size: xx-large;
        margin-top: 40px;
    }
}

@media screen and (min-width:601px) {
    .home-content{
        margin: 50px;
    }

    #text1,
    #text2{
        font-size: 80px;
    }
    
}

/* Home page end */

/* About page start */

#about{
    width: 100%;
}

.about-content{
    font-size: x-large;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    padding-top: 10px;
}

.cv-btn a{
    text-decoration: none;
    color: #ffff;
}

.cv-btn a:hover{
    font-weight: bolder;
    color: black;
}

@media screen and (max-width:500px) {
    .about-content{
        font-size: small;
    }
}

/* About page end */

/* Resume page start */

.scl{
    background-image: url(../images/GBHSS\ T.jpg);
    background-position: center;
    background-size: cover;
    margin: 20px;
    height: 300px;
    border-radius: 20px;
} 

.scl2{
    background-image: url(../images/GOVT2.jpg);
    background-position: center;
    background-size: cover;
    margin: 20px;
    height: 300px;
    border-radius: 20px;
}

.mec{
    background-image: url(../images/MEC.png);
    background-position: center;
    background-size: cover;
    margin: 20px;
    height: 300px;
    border-radius: 20px;
}

.int{
    background-image: url(../images/itkrish_technologies_logo.jpg);
    background-position: center;
    background-size: cover;
    margin: 20px;
    height: 300px;
    border-radius: 20px;
}

.resume-topic{
    color: #FFD43B;
    font-weight: bolder;
    font-size: x-large;
}

.scl,
.scl2,
.mec,
.int:hover{
}

@media screen and (max-width:500px) {
    .scl,
    .scl2,
    .mec,
    .int{
        margin: 20px;
    }

    .scl,
    .scl2,
    .mec,
    .int{
        .resume-topic{
            font-size: small;
            width: 100vw;
        }
    }
}

/* Resume page end */

/* Skills page start */

.skills-col .col{
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}

/* Skills page end */